h1{
    text-align: center;
    font-weight: normal;
    text-decoration: orange underline dotted;
    font-family: monospace;
    
}

h2{
    text-decoration: underline double;
}

p{
    line-height: normal;
    
}